#page-wrapper
  %h1
    Widget
  .panel.panel-warning
    .panel-body.no-padding
      %h2
        Copiar código y pegarlo en el espacio donde se va a ubicar el widget.
      %pre
        = Widget.snippet
