#page-wrapper
  .graphs
    %h1 Edit Subscriber
    .tab-content
      #horizontal-form.tab-pane.active
        = render "form", method: "patch"
      = link_to 'Back', subscribers_path, class: "btn btn-warning"
