#page-wrapper
  .graphs
    %h1 Suscriptor
    .tab-content
      #horizontal-form.tab-pane.active
        = render "form", method: :disable
      = link_to 'Back', subscribers_path, class: "btn btn-warning"
