.flash_messages
  -if flash[:notice]
    %p.notice
      = fa_icon 'info'
      = render_flash(flash[:notice])
  -if flash[:error]
    %p.alert
      = fa_icon 'warning'
      = render_flash(flash[:error])
