/ header-starts
.header-section
  / toggle button start
  %a.toggle-btn.menu-collapsed
    %i.fa.fa-bars
  / toggle button end
  / notification menu start
  .menu-right
    .user-panel-top
      .profile_details_left
        %ul.nofitications-dropdown
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
          .clearfix
      -if current_admin_user.present?
        .profile_details
          %ul
            %li.dropdown.profile_details_drop
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
                .profile_img
                  .user-name
                    %p
                      = current_admin_user.first_name || ""
                      %span= current_admin_user.class.to_s
                  %i.lnr.lnr-chevron-down
                  %i.lnr.lnr-chevron-up
                  .clearfix
              %ul.dropdown-menu.drp-mnu
                %li
                  %a{:href => "#"}
                    %i.fa.fa-cog
                    Settings
                %li
                  %a{:href => "#"}
                    %i.fa.fa-user>
                    Profile
                %li
                  %a{:href => logout_path}
                    %i.fa.fa-sign-out
                    Logout
