/ header-starts
.header-section
  / toggle button start
  %a.toggle-btn.menu-collapsed
    %i.fa.fa-bars
  / toggle button end
  / notification menu start
  .menu-right
    .user-panel-top
      .profile_details_left
        %ul.nofitications-dropdown
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-envelope
              %span.badge 3
            %ul.dropdown-menu
              %li
                .notification_header
                  %h3 You have 3 new messages
              %li
                %a{:href => "#"}
                  .user_img
                    %img{:alt => "", :src => "images/1.png"}/
                  .notification_desc
                    %p Lorem ipsum dolor sit amet
                    %p
                      %span 1 hour ago
                  .clearfix
              %li.odd
                %a{:href => "#"}
                  .user_img
                    %img{:alt => "", :src => "images/1.png"}/
                  .notification_desc
                    %p Lorem ipsum dolor sit amet
                    %p
                      %span 1 hour ago
                  .clearfix
              %li
                %a{:href => "#"}
                  .user_img
                    %img{:alt => "", :src => "images/1.png"}/
                  .notification_desc
                    %p Lorem ipsum dolor sit amet
                    %p
                      %span 1 hour ago
                  .clearfix
              %li
                .notification_bottom
                  %a{:href => "#"} See all messages
          %li#loginContainer.login_box
            .search-box
              #sb-search.sb-search
                %form
                  %input#search.sb-search-input{:placeholder => "Enter your search term...", :type => "search"}/
                  %input.sb-search-submit{:type => "submit", :value => ""}/
                  %span.sb-icon-search
            / search-scripts
            %script{:src => "js/classie.js"}
            %script{:src => "js/uisearch.js"}
            :javascript
              new UISearch( document.getElementById( 'sb-search' ) );
            / //search-scripts
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-bell
              %span.badge.blue 3
            %ul.dropdown-menu
              %li
                .notification_header
                  %h3 You have 3 new notification
              %li
                %a{:href => "#"}
                  .user_img
                    %img{:alt => "", :src => "images/1.png"}/
                  .notification_desc
                    %p Lorem ipsum dolor sit amet
                    %p
                      %span 1 hour ago
                  .clearfix
              %li.odd
                %a{:href => "#"}
                  .user_img
                    %img{:alt => "", :src => "images/1.png"}/
                  .notification_desc
                    %p Lorem ipsum dolor sit amet
                    %p
                      %span 1 hour ago
                  .clearfix
              %li
                %a{:href => "#"}
                  .user_img
                    %img{:alt => "", :src => "images/1.png"}/
                  .notification_desc
                    %p Lorem ipsum dolor sit amet
                    %p
                      %span 1 hour ago
                  .clearfix
              %li
                .notification_bottom
                  %a{:href => "#"} See all notification
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-tasks
              %span.badge.blue1 22
            %ul.dropdown-menu
              %li
                .notification_header
                  %h3 You have 8 pending task
              %li
                %a{:href => "#"}
                  .task-info
                    %span.task-desc Database update
                    %span.percentage 40%
                    .clearfix
                  .progress.progress-striped.active
                    .bar.yellow{:style => "width:40%;"}
              %li
                %a{:href => "#"}
                  .task-info
                    %span.task-desc Dashboard done
                    %span.percentage 90%
                    .clearfix
                  .progress.progress-striped.active
                    .bar.green{:style => "width:90%;"}
              %li
                %a{:href => "#"}
                  .task-info
                    %span.task-desc Mobile App
                    %span.percentage 33%
                    .clearfix
                  .progress.progress-striped.active
                    .bar.red{:style => "width: 33%;"}
              %li
                %a{:href => "#"}
                  .task-info
                    %span.task-desc Issues fixed
                    %span.percentage 80%
                    .clearfix
                  .progress.progress-striped.active
                    .bar.blue{:style => "width: 80%;"}
              %li
                .notification_bottom
                  %a{:href => "#"} See all pending task
          .clearfix
      .profile_details
        %ul
          %li.dropdown.profile_details_drop
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              .profile_img
                %span{:style => "background:url(images/1.jpg) no-repeat center"}
                .user-name
                  %p
                    Michael
                    %span Administrator
                %i.lnr.lnr-chevron-down
                %i.lnr.lnr-chevron-up
                .clearfix
            %ul.dropdown-menu.drp-mnu
              %li
                %a{:href => "#"}
                  %i.fa.fa-cog
                  Settings
              %li
                %a{:href => "#"}
                  %i.fa.fa-user>
                  Profile
              %li
                %a{:href => "sign-up.html"}
                  %i.fa.fa-sign-out
                  Logout
          .clearfix
      .social_icons
        .col-md-4.social_icons-left
          %a.yui{:href => "#"}
            %i.fa.fa-facebook.i1
            %span
              300
              %sup +
              Likes
        .col-md-4.social_icons-left.pinterest
          %a{:href => "#"}
            %i.fa.fa-google-plus.i1
            %span
              500
              %sup +
              Shares
        .col-md-4.social_icons-left.twi
          %a{:href => "#"}
            %i.fa.fa-twitter.i1
            %span
              500
              %sup +
              Tweets
        .clearfix
      .clearfix
  / notification menu end
/ //header-ends
