/ left side start
.left-side.sticky-left-side
  / logo and iconic logo start
  .logo
    %h1
      %a{:href => root_path}
        MACD
        %span Newsletter
  .logo-icon.text-center
    %a{:href => root_path}
      %i.lnr.lnr-home
  / logo and iconic logo end
  .left-side-inner
    / sidebar nav start
    %ul.nav.nav-pills.nav-stacked.custom-nav
      %li
        %a{:href => admin_users_path}
          %i.lnr.lnr-user
          %span Administradores
      %li
        %a{:href => subscribers_lists_path}
          %i.lnr.lnr-list
          %span Listas de Suscriptores
      %li
        %a{:href => subscribers_path}
          %i.lnr.lnr-users
          %span Suscriptores
      %li
        %a{:href => templates_path}
          %i.lnr.lnr-layers
          %span Plantillas
      %li
        %a{:href => newsletters_path}
          %i.lnr.lnr-rocket
          %span Newsletter
      %li
        %a{:href => widgets_path}
          %i.lnr.lnr-select
          %span widget
