/ left side start
.left-side.sticky-left-side
  / logo and iconic logo start
  .logo
    %h1
      %a{:href => root_path}
        MACD
        %span Newsletter
  .logo-icon.text-center
    %a{:href => root_path}
      %i.lnr.lnr-home
  / logo and iconic logo end
  .left-side-inner
    / sidebar nav start
    %ul.nav.nav-pills.nav-stacked.custom-nav
      %li
        %a{:href => admin_users_path}
          %i.lnr.lnr-user
          %span Admin Users
      %li
        %a{:href => subscribers_path}
          %i.lnr.lnr-users
          %span Subscribers
      %li
        %a{:href => newsletters_path}
          %i.lnr.lnr-rocket
          %span Newsletter
      %li
        %a{:href => templates_path}
          %i.lnr.lnr-layers
          %span Plantillas
      -# %li.menu-list
      -#   %a{:href => "#"}
      -#     %i.lnr.lnr-cog
      -#     %span Components
      -#   %ul.sub-menu-list
      -#     %li
      -#       %a{:href => "grids.html"} Grids
      -#     %li
      -#       %a{:href => "widgets.html"} Widgets
      -# %li
      -#   %a{:href => "forms.html"}
      -#     %i.lnr.lnr-spell-check
      -#     %span Forms
      -# %li
      -#   %a{:href => "tables.html"}
      -#     %i.lnr.lnr-menu
      -#     %span Tables
      -# %li.menu-list
      -#   %a{:href => "#"}
      -#     %i.lnr.lnr-envelope
      -#     %span MailBox
      -#   %ul.sub-menu-list
      -#     %li
      -#       %a{:href => "inbox.html"} Inbox
      -#     %li
      -#       %a{:href => "compose-mail.html"} Compose Mail
      -# %li.menu-list
      -#   %a{:href => "#"}
      -#     %i.lnr.lnr-indent-increase
      -#     %span Menu Levels
      -#   %ul.sub-menu-list
      -#     %li
      -#       %a{:href => "charts.html"} Basic Charts
      -# %li
      -#   %a{:href => "codes.html"}
      -#     %i.lnr.lnr-pencil
      -#     %span Typography
      -# %li
      -#   %a{:href => "media.html"}
      -#     %i.lnr.lnr-select
      -#     %span Media Css
      -# %li.menu-list
      -#   %a{:href => "#"}
      -#     %i.lnr.lnr-book
      -#     %span Pages
      -#   %ul.sub-menu-list
      -#     %li
      -#       %a{:href => "sign-in.html"} Sign In
      -#     %li
      -#       %a{:href => "sign-up.html"} Sign Up
      -#     %li
      -#       %a{:href => "blank_page.html"} Blank Page
    / sidebar nav end
/ left side end
